<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/js/home/login.js" defer></script>
    <link rel="stylesheet" href="/css/home/login.css" />
    <title>Login Page</title>
  </head>
  <body>
    <div class="wrapper">
      <div id="formContent">
        <header class="title">
          <img src="../../images/logo.png" alt="emptied_logo" />
          <h1>emptied</h1>
        </header>
        <!-- Tabs Titles -->
        <h2 class="active">로그인</h2>
        <h2 class="inactive underlineHover">
          <a href="/register"> 회원가입 </a>
        </h2>

        <!-- Login Form -->
        <form>
          <input type="text" id="id" name="login" placeholder="아이디" />
          <input type="password" id="pw" name="login" placeholder="비밀번호" />
          <button>로그인</button>
        </form>
      </div>
    </div>
  </body>
</html>
