/* GLOBAL */

@font-face {
  font-family: "SUIT-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

strong {
  font-weight: 700;
}

h1 {
  font-size: 1.5em;
  font-weight: 700;
  margin: 0 0 0.5em 0;
}

h2 {
  font-size: 1.2em;
  font-weight: 700;
  margin: 0 0 0.5em 0;
}

body {
  background-color: skyblue;
  font-family: "SUIT", sans-serif;
  font-weight: 300;
  word-break: break-word;
  position: relative;
  display: flex;
  justify-content: center;
}

#container {
  background-color: #f8f8f8;
  border-radius: 1em;
  width: 90%;
  max-width: 1000px;
  position: absolute;
  padding: 1em;
  margin: 1em;
}

header.title {
  text-align: center;
  padding: 3em;
}

header.title img {
  height: 15px;
}

header.title h1 {
  font-family: "SUIT", sans-serif;
  font-weight: 900;
  font-size: 2.5em;
}

section#menu {
}

.btn--red {
  width: 100%;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 1em;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.4s;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.btn--red:hover {
  background-color: #fc5185;
  color: #fff;
}

.btn--blue {
  width: 100%;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 1em;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.4s;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.btn--blue:hover {
  background-color: #3fc1c9;
  color: #fff;
}

.btn--login,
.btn--register {
  /* width: 45%; */
  padding: 10px;
  border-radius: 1em;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  transition: 0.4s;
  margin: 0.5em;
}

.btn--logout {
  width: 100%;
  padding: 10px;
  border-radius: 1em;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.4s;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.btn--login:hover,
.btn--register:hover,
.btn--logout:hover {
  background-color: #dbdbdb;
  border-radius: 1em;
}

/* CONNECTION INFO */
#container section#info {
  color: #333;
  border: 1px solid #ccc;
  border-radius: 1em;
  padding: 1em;
  margin-top: 0.5em;
}

#container section#info #startup h2 {
  font-size: 1.2em;
  font-weight: 700;
  margin: 0 0 0.5em 0;
}

#container section#info #startup li {
  color: #888;
}

code {
  padding: 0.1em 0.25em;
  color: #444;
  background-color: #e7edf3;
  border-radius: 3px;
  border: solid 1px #d6dde4;
  font-weight: 400;
}

p {
  color: #444;
  font-weight: 300;
}

p#data {
  border-top: 1px dotted #666;
  line-height: 1.3em;
  max-height: 1000px;
  overflow-y: auto;
  padding: 1em 0 0 0;
}

p.borderBelow {
  border-bottom: 1px solid #aaa;
  padding: 0 0 20px 0;
}

div#warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
  padding: 1em;
  border: 1px solid transparent;
}

div.box {
  margin: 1em;
}

div#message {
  border-top: 1px solid #666;
  margin: 1em;
  padding: 1em;
}

@media screen and (max-width: 650px) {
  .highlight {
    font-size: 1em;
    margin: 0 0 20px 0;
    padding: 0.2em 1em;
  }
  h1 {
    font-size: 24px;
  }
}

@media screen and (max-width: 550px) {
  button:active {
    background-color: darkRed;
  }
  h1 {
    font-size: 22px;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 20px;
  }
}

/* VIDEO */
video {
  background-color: #444;
  background-image: url("../../images/logo_forVideoElement.png");
  background-position: 50% 50%;
  background-size: 25%;
  background-repeat: no-repeat;
  width: 100%;
  height: 56.25%;
  border-radius: 1em;
  margin: 0 0 0.5em;
}
